Repository sdpython/onnx-extended, pull requests merged in 2023-07, with the labels that each got.

#39 Adds support for Relu, Gelu in Gemm for float 8
  .gitignore
  _doc/conf.py
  _doc/examples/plot_bench_gemm_f8.py
  _doc/index.rst
  _unittests/ut_ortops/test_tutorial_cuda.py
  onnx_extended/ortops/tutorial/cuda/custom_gemm.cu
  onnx_extended/ortops/tutorial/cuda/custom_gemm.h
Labels: cuda

#40 Fix compilation issue with other version of onnxruntime
  onnx_extended/ortops/tutorial/cuda/custom_gemm.cu
Labels: cuda

#43 Improves build and example for TreeEnsemble
  _doc/examples/plot_optim_tree_ensemble.py
  _unittests/ut_ortops/test_optim_cpu.py
Labels: documentation, CI

#44 Refactoring, move common c++ files to a separate folder
  _cmake/CMakeLists.txt
  _cmake/targets/_validation.cmake
  _cmake/targets/c_op_conv_.cmake
  _cmake/targets/c_op_tree_ensemble_py_.cmake
  _cmake/targets/common_kernels.cmake
  _cmake/targets/ortinf.cmake
  _cmake/targets/ortops_optim_cpu.cmake
  _cmake/targets/ortops_tutorial_cpu.cmake
  _cmake/targets/ortops_tutorial_cuda.cmake
  _unittests/onnx_extended_test_common.h
  _unittests/ut_ortcy/test_inference.cpp
  _unittests/ut_reference/test_c_op_conv.cpp
  _unittests/ut_validation/test_vector_sum.cpp
  onnx_extended/cpp/__init__.py
  onnx_extended/cpp/c_op_common.cpp
  onnx_extended/cpp/cpu/__init__.py
  onnx_extended/cpp/cuda/__init__.py
  onnx_extended/cpp/include/__init__.py
  onnx_extended/cpp/include/common/__init__.py
  onnx_extended/cpp/include/common/c_op_common.h
  onnx_extended/cpp/include/common/c_op_common_parallel.hpp
  onnx_extended/cpp/include/common/common_kernels.h
  onnx_extended/cpp/include/cpu/__init__.py
  onnx_extended/cpp/include/cpu/c_op_conv.h
  onnx_extended/cpp/include/cpu/c_op_conv_common.h
  onnx_extended/cpp/include/cpu/c_op_tree_ensemble_common_.hpp
  onnx_extended/cpp/include/cpu/c_op_tree_ensemble_common_agg_.hpp
  onnx_extended/cpp/include/cpu/c_op_tree_ensemble_common_classifier_.hpp
  onnx_extended/cpp/include/cuda/__init__.py
  onnx_extended/cpp/include/cuda/common_kernels_cuda.h
  onnx_extended/cpp/include/onnx_extended_helpers.h
  onnx_extended/ortops/tutorial/cuda/custom_gemm.cu
  onnx_extended/reference/c_ops/cpu/c_op_conv_pybind11.h
  onnx_extended/reference/c_ops/cpu/c_op_tree_ensemble_py_.hpp
  onnx_extended/reference/c_ops/cpu/c_op_tree_ensemble_py_classifier_.hpp
  setup.py
Labels: refactoring

#45 Adds option cuda-link to setup.py
  CHANGELOGS.rst
  _cmake/CMakeLists.txt
  _cmake/externals/FindCudaExtension.cmake
  _cmake/targets/ortinf.cmake
  _doc/examples/plot_bench_gemm_f8.py
  _unittests/ut_validation/test_cuda_gemm.py
  azure-pipelines.yml
  onnx_extended/cpp/include/cpu/c_op_tree_ensemble_common_.hpp
  onnx_extended/cpp/include/cuda/common_kernels_cuda.h
  onnx_extended/reference/c_ops/cpu/c_op_tree_ensemble_py_classifier_.hpp
  setup.py
Labels: CI

#46 Improves examples by adding command line
  _doc/api/ortops_optim.rst
  _doc/examples/plot_optim_tree_ensemble.py
  onnx_extended/ext_test_case.py
  onnx_extended/ortops/optim/optimize.py
Labels: documentation

#49 Add parameter save_intermediate to save intermediate results
  CHANGELOGS.rst
  _doc/api/reference.rst
  _doc/conf.py
  _unittests/ut_reference/test_backend_c_reference_evaluator.py
  _unittests/ut_reference/test_c_reference_evaluator_save.py
  onnx_extended/reference/c_reference_backend.py
  onnx_extended/reference/c_reference_evaluator.py
Labels: reference implementation

#50 Adds command line store to store intermediate results on disk
  CHANGELOGS.rst
  _doc/api/command_lines.rst
  _doc/api/index.rst
  _doc/examples/plot_conv_denorm.py
  _doc/examples/plot_optim_tree_ensemble.py
  _unittests/ut_xrun_doc/test_command_lines.py
  onnx_extended/__main__.py
  onnx_extended/_command_lines.py
  onnx_extended/_command_lines_parser.py
Labels: command line
